<!DOCTYPE html>
<html>
    <head>
        <style>
            .dis{
                display: none;
            }
        </style>

    </head>
        <body>
            <div id="dummy"></div>
            <div id="dummy2" onclick="this.remove()"></div>
            <div id="dummy3" >
                </div>
                <div class="dummy3" >
                <h1 onclick="this.style.color='red'" >heading</h1>
            </div>
            <form >
                <input type="text" name="text" id="name" value=""></input>
                <input type="button" value="CLick" onclick="input()" ></input>
            </form>
          <h1 id="dummy4"></h1>
          <div id="dummy5" >
        </div>
        <div id="dummy6" >
        </div>
            
   <script>
     
     const dummy=document.getElementById('dummy')
     const dummy2=document.getElementById('dummy2')
     const dummy3=document.getElementById('dummy3')
     const dummy4=document.getElementById('dummy4')
     const dummy5=document.getElementById('dummy5')
     const dummy6=document.getElementById('dummy6')
     const name=document.getElementById('name')
let val;
   
const input=()=>{
val=name.value;
if(dummy4.innerText){
    dummy4.innerText=""
}
else{
    dummy4.innerText=val
}

}
    

     const test=new Array(6)
     console.log(test)
     for(i=0;i<test.length;i++){
        dummy5.innerHTML+=`<h1>${i}</h1>`
     }

     const array=["Raja","Srinithi"]

    

     function display()
{
    dummy2.innerText=array
}
    function sample1(x,y){
   dummy.innerText=x+" and "+ y
    }

    function sample2(callback,x,y){
        callback(x,y)
    }

  
    display()

    sample2(sample1,20,30)
    

    //array methods

    const data=[{name:"Porkodi",age:53},{name:"Raja",age:61}]

    const numbers=[1,2,3,4,5,6]
    data.forEach(elem=>console.log(elem))
    data.push({name:"Shanmuga",age:28})

    const newway=data.map(elem=>`<h1>${elem.name} is ${elem.age} years old<h1/>`)
        dummy3.innerHTML=newway.join("")

  console.log(numbers.find(n=>n<3))
    console.log(data[0].age)
    console.log(data[0].name.includes("Porkodi"))
    const newdata=numbers.filter(elem=>elem<4)
    console.log(newdata)
    console.log(data)

 const what=[1]  
 while(what.length<10){
what.push((what.length)+1)
const dald=what.map(elem=>`<h1>What is going on ${elem}?<h1/>`)
dummy6.innerHTML=dald.join("")

console.log(what)
 }


   </script>         

        

    
</body>
</html>