<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <div id="left">
            <input type="text" id="number">
            <input type="button" value="click" onclick="input()">
            <input type="text" id="text">
            <input type="button" value="click" onclick="input2()">
            <input type="text" id="loop">
            <input type="button" value="click" onclick="input3()">
        </div>
        <div id="right"></div>
        
        <script>
            const num=document.getElementById('number')
            const tex=document.getElementById('text')
            const loop =document.getElementById('loop')
            let val;
            let val2;
            let val3;
            const right=document.getElementById('right')
        const input=()=>{
val=num.value;
for(i=0;i<val;i++){
right.innerHTML+=`<h1>This is my ${i+1} day at coding</h1>`
}
        }

        const input2=()=>{
            val2=tex.value;
            const arr=new Array(val2)
            for(j=0;j<arr;j++){
                right.innerHTML+=`<h1>This is my ${j+1} day at coding</h1>` 
            }

        }

        const input3=()=>{
            val3=loop.value;
            const arr=new Array(val3)
            arr.map(right.innerHTML+=`<h1>This is crazy at coding</h1>` )
        }

        </script>
    </body>
</html>