<!DOCTYPE html>
<html>
    <head>
        <body>

            <section class="top-banner">
                
                  
                  <form>
                    <input type="text" placeholder="Search for a city" id="input" >
                    <button type="submit">SUBMIT</button>
                    <span class="msg"></span>
                  </form>
               
              </section>
             <h1 id="head"></h1>
            
            <script src="./weather.js
            "></script>
        </body>
    </head>
</html>